In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime
import itertools
from sklearn import metrics

import math

# data visualization 
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import statsmodels.api as sm
from statsmodels.tsa.ar_model import AR

from fbprophet import Prophet
from matplotlib.dates import MonthLocator, num2date
from matplotlib.ticker import FuncFormatter

%matplotlib inline

from sklearn.model_selection import TimeSeriesSplit

# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import acquire
import prepare

### Acquire
 - Acquires data from 8 separate csv's
 - Concats all 8 into one dataframe

In [2]:
df = acquire.get_fitbit_data()

In [3]:
df.shape

(225, 10)

In [4]:
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,6/27/18,"2,145",0,0.00,0,"1,440",0,0,0,0
1,6/28/18,"2,145",0,0.00,0,"1,440",0,0,0,0
2,6/29/18,"2,180",0,0.00,0,"1,437",3,0,0,39
3,6/30/18,"2,145",0,0.00,0,"1,440",0,0,0,0
4,7/1/18,"3,090","4,714",2.22,4,"1,005",232,0,0,"1,125"

### Prepare fitbit function 
 - formats columns names
 - changes objects to floats

In [5]:
df = prepare.prepare_fitbit_data(df)

In [6]:
df.head()

,date,calories_burned,steps,distance,floors,minutes_sedentary,minutes_lightly_active,minutes_fairly_active,minutes_very_active,activity_calories
0,6/27/18,2145.0,0.0,0.00,0,1440.0,0,0,0,0.0
1,6/28/18,2145.0,0.0,0.00,0,1440.0,0,0,0,0.0
2,6/29/18,2180.0,0.0,0.00,0,1437.0,3,0,0,39.0
3,6/30/18,2145.0,0.0,0.00,0,1440.0,0,0,0,0.0
4,7/1/18,3090.0,4714.0,2.22,4,1005.0,232,0,0,1125.0

### Prepare data for Prophet Modeling, 9 separate functions used (Refer to prepare.py for functions)
   - Combines date column with each other column
   - Changes name of columns from 'date' to 'ds', and other column to 'y'
   - Formats date using to_datetime()
   - Creates Prophet Object, fits, and predicts
   - Returns dataframe, future data points, and forecast

In [ ]:
    df3 = df[['date', 'distance']]
    df3.columns = ['ds', 'y']

    df3.ds = pd.to_datetime(df3.ds)

    m = Prophet()

    m.fit(df3)

    #Create a placeholder dataframe

    future3 = m.make_future_dataframe(periods=14)

    forecast3 = m.predict(future3)

In [7]:
df.columns[0+1]

'calories_burned'

In [8]:
df1, forecast1, future1 = prepare.prepare_calories_burned_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [9]:
df2, forecast2, future2 = prepare.prepare_steps_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [10]:
df3, forecast3, future3 = prepare.prepare_distance_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [11]:
df4, forecast4, future4 = prepare.prepare_floors_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [12]:
df5, forecast5, future5 = prepare.prepare_minutes_sedentary_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [13]:
df6, forecast6, future6 = prepare.prepare_minutes_lightly_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [14]:
df7, forecast7, future7 = prepare.prepare_minutes_fairly_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [15]:
df8, forecast8, future8 = prepare.prepare_minutes_very_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [16]:
df9, forecast9, future9 = prepare.prepare_activity_calories_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

### Combine and rename Predictions to original column name

In [20]:
predictions_df.columns = ['date', 'calories_burned']

predictions_df['steps'] = future2['yhat']
predictions_df['distance'] = future3['yhat']
predictions_df['floors'] = future4['yhat']
predictions_df['minutes_sedentary'] = future5['yhat']
predictions_df['minutes_lightly_active'] = future6['yhat']
predictions_df['minutes_fairly_active'] = future7['yhat']
predictions_df['minutes_very_active'] = future8['yhat']
predictions_df['activity_calories'] = future9['yhat']

### Retrieve the 14 predictions

In [21]:
predictions_df = predictions_df.tail(14)

### Create CSV File

In [23]:
predictions_df.to_csv('missing_2_weeks_predictions.csv')

In [24]:
predictions_df

,date,calories_burned,steps,distance,floors,minutes_sedentary,minutes_lightly_active,minutes_fairly_active,minutes_very_active,activity_calories
225,2018-12-07,3884.978778,14930.687543,7.040219,26.486099,634.154526,234.090053,20.401854,77.627500,2245.135301
226,2018-12-08,3972.903362,15626.877137,7.444909,28.966153,532.006154,247.785308,26.558063,80.367805,2361.908106
227,2018-12-09,3970.979099,15979.181046,7.521677,37.174726,499.369540,261.123369,26.933087,81.721202,2429.678599
228,2018-12-10,3663.132732,13349.327877,6.313178,22.190327,588.636706,223.490295,16.214480,63.279690,1979.703820
229,2018-12-11,3724.052025,13955.540359,6.572497,26.683246,624.637086,232.112856,13.964514,67.028644,2038.728738
230,2018-12-12,3690.335455,13696.970527,6.455027,26.593278,674.633547,226.952080,14.995756,64.536530,2021.995713
231,2018-12-13,3858.730250,15021.318940,7.106549,28.431117,638.073644,244.803596,15.556116,73.962907,2234.951953
232,2018-12-14,3909.539501,15298.473858,7.214107,27.418152,621.384061,237.173983,20.651342,79.973253,2287.697086
233,2018-12-15,3997.464085,15994.663452,7.618797,29.898206,519.235689,250.869239,26.807550,82.713558,2404.469892
234,2018-12-16,3995.539822,16346.967361,7.695565,38.106779,486.599075,264.207300,27.182574,84.066956,2472.240384
235,2018-12-17,3687.693455,13717.114192,6.487066,23.122380,575.866241,226.574226,16.463967,65.625444,2022.265606
236,2018-12-18,3748.612748,14323.326674,6.746385,27.615299,611.866621,235.196787,14.214001,69.374398,2081.290523
237,2018-12-19,3714.896179,14064.756842,6.628914,27.525331,661.863081,230.036011,15.245244,66.882283,2064.557498
238,2018-12-20,3883.290973,15389.105255,7.280437,29.363170,625.303179,247.887526,15.805603,76.308661,2277.513739