Fitbit data for one individual.  Looks like a he/she left it off from time to time.  Assuming sleep and work for monday through friday, 2/3 of the day is sedentary.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime
import itertools
from sklearn import metrics

import math

# data visualization 
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import statsmodels.api as sm
from statsmodels.tsa.ar_model import AR

from fbprophet import Prophet
from matplotlib.dates import MonthLocator, num2date
from matplotlib.ticker import FuncFormatter

%matplotlib inline

from sklearn.model_selection import TimeSeriesSplit

# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import acquire
import prepare

ERROR:fbprophet:Importing plotly failed. Interactive plots will not work.

I put above data into my acquire_fitbit_data function

In [2]:
df = acquire.get_fitbit_data()

In [3]:
df.shape

(225, 10)

In [4]:
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540

In [5]:
df = prepare.prepare_fitbit_data(df)

In [6]:
df.head()

,date,calories_burned,steps,distance,floors,minutes_sedentary,minutes_lightly_active,minutes_fairly_active,minutes_very_active,activity_calories
0,4/26/18,2635.0,2931.0,1.38,2,1347.0,93,0,0,566.0
1,4/27/18,3649.0,9971.0,4.70,19,1158.0,219,46,17,1752.0
2,4/28/18,3379.0,3521.0,1.66,2,702.0,155,22,11,1124.0
3,4/29/18,2851.0,1639.0,0.77,0,891.0,122,0,0,602.0
4,4/30/18,2825.0,1323.0,0.62,0,880.0,104,0,0,540.0

### Prepare data for Prophet object

In [7]:
df.columns[0+1]

'calories_burned'

In [8]:
df1, forecast1, future1 = prepare.prepare_calories_burned_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [9]:
df2, forecast2, future2 = prepare.prepare_steps_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [10]:
df3, forecast3, future3 = prepare.prepare_distance_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [11]:
df4, forecast4, future4 = prepare.prepare_floors_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [12]:
df5, forecast5, future5 = prepare.prepare_minutes_sedentary_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [13]:
df6, forecast6, future6 = prepare.prepare_minutes_lightly_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [14]:
df7, forecast7, future7 = prepare.prepare_minutes_fairly_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [15]:
df8, forecast8, future8 = prepare.prepare_minutes_very_active_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [16]:
df9, forecast9, future9 = prepare.prepare_activity_calories_prophet(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [17]:
df1.tail()

            ds       y
220 2018-12-02  3957.0
221 2018-12-03  3660.0
222 2018-12-04  3384.0
223 2018-12-05  3670.0
224 2018-12-06  3669.0

In [18]:
predictions_df = future1[['ds', 'yhat']]

In [19]:
future9.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
234,2018-12-16,2223.924706,1716.415659,3294.580055,2223.924691,2223.924720,248.315678,248.315678,248.315678,248.315678,248.315678,248.315678,0.0,0.0,0.0,2472.240384
235,2018-12-17,2230.004961,1203.513875,2781.172983,2230.004944,2230.004977,-207.739355,-207.739355,-207.739355,-207.739355,-207.739355,-207.739355,0.0,0.0,0.0,2022.265606
236,2018-12-18,2236.085216,1290.751124,2845.994658,2236.085196,2236.085235,-154.794693,-154.794693,-154.794693,-154.794693,-154.794693,-154.794693,0.0,0.0,0.0,2081.290523
237,2018-12-19,2242.165471,1296.875889,2859.167313,2242.165448,2242.165493,-177.607973,-177.607973,-177.607973,-177.607973,-177.607973,-177.607973,0.0,0.0,0.0,2064.557498
238,2018-12-20,2248.245726,1488.706829,3069.368281,2248.245700,2248.245752,29.268012,29.268012,29.268012,29.268012,29.268012,29.268012,0.0,0.0,0.0,2277.513739

### Combine and rename Predictions to original column name

In [20]:
predictions_df.columns = ['date', 'calories_burned']

predictions_df['steps'] = future2['yhat']
predictions_df['distance'] = future3['yhat']
predictions_df['floors'] = future4['yhat']
predictions_df['minutes_sedentary'] = future5['yhat']
predictions_df['minutes_lightly_active'] = future6['yhat']
predictions_df['minutes_fairly_active'] = future7['yhat']
predictions_df['minutes_very_active'] = future8['yhat']
predictions_df['activity_calories'] = future9['yhat']

### Retrieve the 14 predictions

In [21]:
predictions_df = predictions_df.tail(14)

In [22]:
# predictions_df.date = pd.to_datetime(predictions_df.date)
# predictions_df = df.set_index('date')

### Create CSV File

In [23]:
predictions_df.to_csv('missing_2_weeks_predictions.csv')

In [24]:
# forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']].tail(14)

In [25]:
# m.plot(forecast);